server:
  port: 8081

spring:
  application:
    name: gateway-service

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:

        - id: auth-service
          uri: http://localhost:8080
          predicates:
            - Path=/auth/**
          filters:
            - PreserveHostHeader

        - id: user-service
          uri: http://localhost:8082
          predicates:
            - Path=/users/**
          filters:
            - PreserveHostHeader

        - id: event-service
          uri: http://localhost:8083
          predicates:
            - Path=/events/**
          filters:
            - PreserveHostHeader

        - id: booking-service
          uri: http://localhost:8084
          predicates:
            - Path=/bookings/**
          filters:
            - PreserveHostHeader

        - id: payment-service
          uri: http://localhost:8085
          predicates:
            - Path=/payments/**
          filters:
            - PreserveHostHeader

        - id: notification-service
          uri: http://localhost:8086
          predicates:
            - Path=/notifications/**
          filters:
            - PreserveHostHeader

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

logging:
  level:
    root: INFO
    org.springframework.cloud.gateway: TRACE
    reactor.netty.http.client: DEBUG
    org.springframework.security: DEBUG

  main:
    allow-bean-definition-overriding: true


management:
  endpoints:
    web:
      exposure:
        include: "*"   # Expose all endpoints (health, info, metrics, etc.)
  endpoint:
    health:
      show-details: always  # Show full health details

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    operationsSorter: method
